@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('sortItems.css'); 
@import url('card.css'); 

input { font-family: 'FontAwesome' }


body{
    box-sizing: border-box;
    width: 100%;
}

header {
    color: #D04F4F; 
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}
header img{
    height: 46px;
    width: 50px;

}
#searchBar{
    position: relative;
}
section .find{
    height: calc(2.5em + 1rem + 2px);
    border : none; 
    background: #E7E7E7;
    border-radius: 5px;
}
section .fa-search{
    position: absolute;
    top: 27%;
    right: 1%;
    font-size: 32px;
}
main{
    height: 69px;
    width: 1240px;
    left: 0px;
    top: 0px;
    border-radius: 5px;

}




.filter {
    display: flex;
    align-items: baseline;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
  }

  .filter__label {
    font-size: 1.125rem;
  }

  .filter__wrapper {
    display: inline-block;
    position: relative;
  }

  .filter__wrapper .filter-btn {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
  }


  .filter__wrapper .filter-btn:after {
    content: "";
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg) translate3d(-25%, -25%, 0);
  }
  .filter__wrapper .filter-btn:hover::after {
    border: solid #000;
    border-width: 0 3px 3px 0;
  }


  #filter-list-ingredients{
    background-color: #3282F7!important;
  }

  #filter-list-appareils{
    background-color:  #68D9A4!important;
  }

  #filter-list-utensiles{
    background-color:  #ED6454!important;
  }


  

  .filter__wrapper .filter-list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #901C1C;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 5px;
    z-index: 100;
    list-style-type: none;
    padding-left: 10px;
  }

  .filter__wrapper .filter-list.open{
    display: grid;
    gap: 90px;
    row-gap: 5px;
    min-width: 769px;
    min-height: 71px;
    padding-top: 14px;
    grid-template-columns: repeat(3, 1fr);
  }

 
  .filter__wrapper .filter-list.close{
    display:none;
}
  .filter__wrapper .filter-list__item {
    line-height: 20px;
    padding: 10px;
    cursor: pointer;
    width: 193px;
  }
  .filter__wrapper .filter-list__item:hover {
    list-style: none;
    color: black;
    border-radius: 5px;
  }
  .filter__wrapper .filter-list__item:last-child {
    border-bottom: 0px;
    list-style: none;
  }
  .filter__wrapper.open .filter-btn:after {
    content: "";
    border-width: 0 3px 3px 0;
    border: solid #FFF;
    padding: 4px;
    display: inline-block; 
    transform: rotate(-135deg) translate3d(-10%, -10%, 0);
  }


  .InputSearchDrop{
    color : white;
  }
  .inputGroup
  {
      display: inline-block;
   
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
      margin-top: 5px;
      margin-left: 9px;
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
  }

  .InputSearchDrop{
    background-color: transparent;
    border: none;
    outline: none;
    width: 88%;
  }
  .InputSearchDrop::placeholder {
    color: #98C0FB;
    font-size: 1em;
  }

  .SearchSVG{
    position: relative;
    margin: auto 30px auto auto;
  }


  .KeyWordsSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    gap: 20px;
  } 

  .Keysaved{
 
    width: auto;
    min-width: 100px;
    padding-left: 15px;
    border-radius: 5px;
    height: 40px;
    padding-top: 7px;
    padding-right: 6px;
  }

  .x-mark{
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
    margin-left: 15px;
    width: 11px;
  }